<div class="container">
  <div class="button-group">
    <!-- <button class="btn" disabled>Previous</button> -->
    <button class="btn" (click)="call()">CALL</button>
    <button class="btn" (click)="onNext()">NEXT</button>
    <!-- <button class="btn"(click)="onNext()" [class.hover-enabled]="color">Next</button> -->
  </div>
  <div class="form-wrapper">
    @if (client) {
      <app-form-client [client]="client" (ajoutclient)="updateClient($event)" [mode]="'agent'"></app-form-client>
    }
    @else {
      pas de client 
    }
  </div>

  
  <app-afiichage-client [listClient]="listClient"></app-afiichage-client>
 

</div>
